<div class="container">
    <nav>
        <ul class="nav">
            <li>
                <a routerLink="/">Головна</a>
            </li>
            <li>
                <a routerLink="/delivery">Доставка</a>
            </li>
            <li>
                <a routerLink="/create">Добавити продукт</a>
            </li>
            <li>
                9:00-22:00
            </li>
            <li>
                <b>0 800 53 64 75</b><br>
                Дзвінки безкоштовні
            </li>

            <li>
                <a routerLink="/auth"><i class="pi pi-user"></i></a>
            </li>

            <li>
                <a routerLink="/cart"><i class="pi pi-shopping-bag"></i></a>
            </li>
        </ul>
    </nav>
</div>