body{
    margin: auto;
}

.nav {
    background-color: black;
    text-align: center;
    margin: auto;
    padding: auto;
    
}

.nav li {
    margin: auto;
    color: white;
    display: inline-block;
    padding: 1%;
    list-style-type: none;
    font-size: 20px;
}

.nav a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    transition: all .2s;
}

.nav a:hover {
    color: red;
}
.pi{
    font-size: 25px;
}