<div>
    <h1 class="delivery">Доставка</h1>
</div>
<div class="container">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d55119.94230757299!2d26.225350633634484!3d50.61569197753088!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472f6caa2d7c89d7%3A0x27481abdbc4e484!2z0KDQvtCy0L3Qviwg0KDQvtCy0LXQvdGB0LrQsNGPINC-0LHQu9Cw0YHRgtGM!5e0!3m2!1sru!2sua!4v1669952726296!5m2!1sru!2sua"
        width="650" height="500" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
    </iframe>
    <div>
        <ul class="dostavka">
            <li><span class="title">Оформити замовлення Ви можете на сайті або за номером:</span></li>
            <li><i class="pi pi-phone"></i> 0 800 53 64 75</li>
        </ul>
        <ul class="dostavka">
            <li><span class="title">Оплатити замовлення Ви можете:</span></li>
            <li>онлайн на сайті</li>
            <li>готівкою кур'єру;</li>
            <li>терміналом кур'єру</li>
        </ul>
        <ul class="dostavka">
            <li><span class="title">Доставка</span></li>
            <li>Вартість доставки - 45 грн;</li>
            <li>Безкоштовна доставка при замовленні від 300 грн;</li>
            <li>Прийом замовлень з 10.00 до 02.30</li>
            <li>Доставка до 60 хв з 10.30 до 03.00.</li>
        </ul>
    </div>
</div>